/* ESTILOS COMUNES ********************************************/

body{
    width: 90%;
    margin: 1rem auto;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

h1{
    margin: 1rem 0;
    border-bottom: 1px solid #000;
}

.comun{
    font-size: 5em;
    text-align: center;
    padding: 1em 0;
}

.uno{
    background-color: red;
}

.dos{
    background-color: yellow;
}

.tres{
    background-color: green;
}

.cuatro{
    background-color: blue;
}

/* STATIC ****************************************/

.static div{
    width: 25%;
    position: static;
    /* poner static es como no poner nada */
}

/* RELATIVE ****************************************/

.relative div{
    width: 25%;
    position: relative;
}

.relative div:first-child{
    left: 1em;
    /* left relativo al elemento parent (.relative) */
}

.relative div:last-child{
    left: 2em;
    bottom: 1em;
    /* left y bottom relativo al elemento parent (.relative) */
}

/* ABSOLUTE ****************************************/

.absolute{
    height: 300px;
    /* le tengo que dar un alto porque si no lo de abajo se me viene encima */
}

.absolute div{
    width: 25%;
    position: absolute;
}

.absolute div:first-child{
    left: 0;
}

.absolute div:nth-child(2){
    left: 3em;
}

.absolute div:last-child{
    right: 0;
}

/* FIXED ****************************************/

.fixed div{
    width: 10%;
    position: fixed;
}

.fixed div:nth-child(1){
    top: 0;
    left: 0;
    /* absoluto y anclado al scroll en h y v */
}

.fixed div:nth-child(2){
    top: 0;
    right: 0;
    /* absoluto y anclado al scroll en h y v */
}

.fixed div:nth-child(3){
    bottom: 0;
    left: 0;
    /* absoluto y anclado al scroll en h y v */
}

.fixed div:nth-child(4){
    bottom: 0;
    right: 0;
    /* absoluto y anclado al scroll en h y v */
}