/***** COMUNES ******/
html{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    margin: 2rem auto;
    font-family: "Verdana", sans-serif;
}

h1{
    margin-top: 100px;
}

.comun{
    font-size: 5rem;
    text-align: center;
    padding: 1rem 0;
}

.uno{
    background-color: red;
}

.dos{
    background-color: yellow;
}

.tres{
    background-color: green;
}

.cuatro{
    background-color: blue;
}

.cinco{
    background-color: orange;
}

.seis{
    background-color: purple;
}


/* GRID CONTAINER ***************/

.grid-container{
    display: grid;
    grid-gap: 10px; /* también se puede especificar grid-column-gap o grid-row-gap */
}


/* GRID TEMPLATE COLUMNS ***************/

.grid-template-columns {
    display: grid;
    grid-template-columns: 15% 35% 50%; /* indica el acnho de cada columna */
    grid-gap: 10px;
}


/* GRID UNIDAD FR ***************/
/* Divide el espacio en fracciones, adaptando el ancho al espacio disponible */

.grid-unidad-fr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* también se puede expresar como repeat(6, 1fr) */
    grid-gap: 10px;
}

.grid-unidad-fr-mix {
    display: grid;
    grid-template-columns: 2fr repeat(4,1fr) 100px; /* es posible mezclar los valores */
    grid-gap: 10px;
}


/* GRID AUTO ROWS ***************/
/* Permite especificar el alto de las filas que se crean cuando el contenido colapsa */

.grid-auto-rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto); /* como mínimo 100px, pero si lo necesita las hará más altas */
    grid-gap: 10px;
}


.grid-auto-rows .comun{
    place-content: center; /* para centrar el contenido */
}

/* GRID LÍNEAS DE CUADRÍCULA ***************/
/* Permite especificar cuando empieza y acaba cada elemento de la rejilla */
/* Los líneas son las que se forman en el espacio creado por la rejilla */
/* grid-column-* hace referencia a las líneas verticales */
/* grid-row-* hace referencia a las líneas horizontales */

.grid-lineas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto); /* como mínimo 100px, pero si lo necesita las hará más altas */
    grid-gap: 10px;
}

.grid-lineas .uno {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    place-content: center; /* para centrar el contenido */
}

.grid-lineas .dos {
    grid-row-start: 3;
    grid-row-end: 5;
    place-content: center; /* para centrar el contenido */
}
